@charset "UTF-8";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family:  "segoe ui light","Source Sans Pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'segoe ui light';
  src: url('../fonts/segoeuil.eot'); /* IE9 Compat Modes */
  src: url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/segoeuil.woff') format('woff'), /* Modern Browsers */
       url('../fonts/segoeuil.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/segoeuil.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'segoe sc';
  src: url('../fonts/segoesc.eot');
  src: url('../fonts/segoesc.eot?#iefix') format('embedded-opentype'),
       url('../fonts/segoesc.woff') format('woff'),
       url('../fonts/segoesc.ttf')  format('truetype'),
       url('../fonts/segoesc.svg#svgFontName') format('svg');
}

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }

/* keyframes animation effect */

@-webkit-keyframes sidebar {
  0% { left: -230px;}
  100% { left: 0;}
}

@-webkit-keyframes bg-img {
  0% { background-position-x: 676px;}
  50% { background-position-x: 0;}
}

@-webkit-keyframes main-title {
  0% { opacity: 0;}
  50% { opacity: 0;}
  100% { opacity: 1;}
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eee;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #ddd;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  background: #fff;
  font-family: "segoe ui light";
  text-align: center;
}

.sidebar a {
  text-decoration: none;
}

.sidebar img {
  padding: 0 3px;
  border: 0;
}

.sidebar .avatar {
  width: 150px;
  height: 150px;
  padding-top: 20px;
}

.sidebar .name {
  margin: 20px 0;
}

.sidebar .name #fname {
  font-size: 23px;
  font-family: 'segoe ui light';
  color: black;
  padding-bottom: 10px;
  display: block;
}

.sidebar .name small,
.sidebar .name em {
  display: block;
  font-style: normal;
  color: #999;
  font-size: 15px;
  position: relative;
}

.sidebar .name em:after {
  content: "";
  height: 1px;
  width: 20%;
  position: absolute;
  left: 50px;
  top: 10px;
  background: #999;
}

.sidebar .name em:before {
  content: "";
  height: 1px;
  width: 20%;
  position: absolute;
  right: 50px;
  top: 10px;
  background: #999;
}

.sidebar .name #lname {
  font-size: 17px;
  /*font-weight: bold;*/
  letter-spacing: 1px;
  color: black;
}

.sidebar .meta {
  padding-bottom: 10px;
  width: 69%;
  margin: 0 auto;
}

.sidebar .meta h3 {
  text-align: left;
  color: #999;
  font-size: 15px;
}

.sidebar .meta span {
  font-size: 12px;
  color: #999;
  padding-top: 30px;
  display: block;
  text-align: left;
}

.sidebar .meta span a {
  color: #474747;
  text-decoration: underline;
  display: inline;
  border: none;
}

.sidebar .meta a {
  color: black;
  border: 1px solid #ccc;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}

.sidebar .meta i {
  position: absolute;
  top: 17px;
  left: 17px;
}

.sidebar .meta a:hover {
  color: #31472D;
}

.sidebar .sections {
  padding: 0 30px;
}

.sidebar .sections a {
  color: black;
  font-size: 17px;
  position: relative;
  display: block;
  background: #fff;
  padding: 2px 0 5px;
}

.sidebar .sections a:after {
  margin-left: 10px;
  content: '|';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.sidebar .sections a:before {
  margin-right: 10px;
  content: '|';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}

.sidebar .sections a:hover:before,
.sidebar .sections a.active:before {
  opacity: 1 !important;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.sidebar .sections a:hover:after,
.sidebar .sections a.active:after {
  opacity: 1 !important;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

.sidebar .sections a:hover {
  color: #31472D;
}

.sidebar .sections .active a {
  color: #31472D;
}

.sidebar .sections ul {
  margin: 30px 0;
  padding: 0;
}

.sidebar .sections li {
  list-style: none;
  margin: 10px 0;
}

.content {
  margin-left: 230px;
  position: relative;
  height: 100%;
}

.content .main-title {
  font-size: 80px;
  font-family: "segoe ui light";
  text-align: center;
  font-weight: 300;
  line-height: 66px;
  -webkit-animation: main-title .5s;
  position: relative;
}

.content .main-title + small {
  font-size: 19px;
  display: block;
  text-align: center;
  padding: 10px 0 30px;
  border-bottom: 1px solid #ddd;
  -webkit-animation: main-title 1s;
}

.content .inner-left small + p {
  padding-top: 30px;
}

.content .inner-left {
  width: 60%;
  float: left;
  height: 100%;
  padding: 40px;
  /*overflow: auto;*/
}

.content.about .main-text a {
  font-weight: bold;
  border-bottom: 1px dotted #999;
  color: #333;
  text-decoration: none;
}

.content.about .main-text a:hover {
 border-bottom-style: solid;
}

.content.about .inner-left {
  overflow: auto;
}

.content .inner-right {
  width: 40%;
  float: left;
  height: 100%;
  background: url(../images/1.jpg) no-repeat right top;
  overflow: hidden;
}

.content .inner-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.posts .inner-center {
  max-width: 800px;
  padding-top: 30px;
}

.sticky {
  position: fixed;
  top: 30px;
  margin-left: 719px;
  float: none;
}

.content .stack-right {
  /*position: fixed;*/
  float: right;
  /*margin-left: 719px;*/
  max-width: 250px;
}

.content .stack-right h2 {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #d4d4d4;
}

.content .stack-right small {
  display: block;
  padding-bottom: 30px;
  padding-top: 10px;
  font-size: 16px;
  color: #474747;
}

.content .stack-right p {
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
}

.content .stack-right p.date {
  text-align: right;
  padding-top: 20px;
  color: #999;
}

.content.photography .inner-center,
.content.about .inner-center {
  max-width: 900px;
}

.content.photography .center-wrap {
  margin-top: 21%;
}

.content.photo .inner-center > h1,
.content.posts .inner-center > h1,
.content.about .inner-center > h1,
.content.photography .inner-center > h1 {
  font-size: 90px;
  color: #333;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  border-bottom: 1px solid #d4d4d4;
}

.subheading {
  color: #999;
  display: block;
  text-align: center;
  padding: 10px 0 50px;
}

.content.posts .inner-center .inner-heading,
.content.about .inner-center .inner-heading,
.content.photography .inner-center .inner-heading {
  max-width: 100%;
}

.content.about .inner-center .inner-heading2 {
  font-size: 60px;
  max-width: 600px;
  padding-top: 30px;
}

.content.about .inner-center .inner-heading2 + span {
  display: block;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 50px;
}

.wrap-main-text {
  background: url(../images/about_texture.jpg) no-repeat #fafafa;
  background-size: cover;
  padding: 50px 0;
}

.main-text.inner-center {
  padding: 50px;
  background: #fff;
  max-width: 700px !important;
  text-align: center;
  font-size: 17px;
  line-height: 29px;
}

.main-text.inner-center i:before {
  font-size: 80px;
}

.main-text.inner-center ul li a {
  border-bottom: none !important;
}

.main-text.inner-center span {
  display: block;
  font-size: 17px;
  padding-bottom: 30px;
}

.content.photography .inner-center ul {
  margin: 50px 0 0;
  padding: 0;
}

.content.about .inner-center .main-text ul + p {
  text-align: center;
}

.content.photography .inner-center ul li {
  list-style: none;
}

.content.photography .inner-center ul li img {
  width: 100%;
}

.inner-heading + .date {
  text-align: center;
  color: #999;
  padding: 20px 0 30px;
}

.inner-heading + small {
  font-size: 16px;
  margin-top: 50px;
  display: block;
}

.about-img {
  text-align: center;
  -webkit-filter: grayscale(70%);
}

.inner-heading + span {
  display: block;
  text-align: center;
  margin-top: 10px;
  color: #707070;
  font-size: 17px;
  margin-bottom: 50px;
}

.content .center-wrap {
  background: #f9f9f9;
  position: relative;
  margin-top: 13%;
}

.content .inner-bg {
  position: fixed;
  top: 0;
  /*background: url(../images/test-bg.jpg) no-repeat center;*/
}

.photography .inner-bg h2 {
  margin-top: -79px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  position: absolute;
  font-size: 100px;
  color: #fff;
  font-family: 'segoe ui light';
}

.content .inner-bg h2 {
  margin-top: -79px;
  text-align: center;
  top: 50%;
  left: 50%;
  margin-left: -130px;
  position: absolute;
  font-size: 100px;
  color: #fff;
  font-family: 'segoe ui light';
}

.content .inner-bg h2:before {
  background: red;
  width: 230px;
  height: 1px;
  content: "";
  position: absolute;
  -webkit-transform: rotate(-45deg);
  z-index: 0;
  top: 74px;
}

.post-avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.posts .listing a span {
  float: none !important;
  display: block;
  font-size: 13px;
  color: #999;
}

.posts .listing li a {
  font-size: 17px;
}

.post-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.stack-left {
  max-width: 680px;
}

.content .inner-bg img {
  width: 100%;
  height: auto;
}

.content .inner-bg span {
  color: #fff;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -250px;
  text-align: center;
  font-size: 43px;
}

.content h1 {
  color: #333;
  font-weight: 400;
}

.content h1 a {
  color: #111;
  text-decoration: none;
}

.content h2 {
  color: #333;
  font-weight: 400;
}

.content h2 a {
  color: #111;
  text-decoration: none;
}

.content h3 {
  color: #333;
  font-weight: 400;
}

.content h3 a {
  color: #111;
  text-decoration: none;
}

.content h4 {
  color: #333;
  font-weight: 400;
}

.content h4 a {
  color: #111;
  text-decoration: none;
}

.content h1 {
  font-size: 36px;
  margin: 18px 0 5px 0;
  text-align: center;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.content h3 {
  color: #777;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content.about .main-text {
  font-size: 16px;
  -webkit-animation: main-title 1.5s;
  margin-top: 50px;
}

.content.about .main-text ul {
  padding: 0;
  margin: 40px 0 0;
}

.content.about .main-text ul li {
  list-style: none;
  display: inline-block;
  width: 31%;
  margin: 4px;
}

.content.about .main-text ul li img {
  width: 100%;
}

.content p code {
  font-size: 12px;
  background-color: #eeeeee;
  border: 1px solid #777777;
  border-radius: 3px;
  padding: 2px 3px;
}

.content .inner-center p {
  margin: 10px 0;
}

.content .inner-center p img {
  max-width: 100%;
  width: 100%;
  padding: 7px 5px;
}

.content hr {
  border: 0;
  height: 6px;
  background-image: url("/images/hr.png");
  background-repeat: repeat-x;
  margin: 2em 3em;
}

.content li {
  margin-bottom: 10px;
  line-height: 1.4em;
}

.content blockquote {
  font-size: 19px;
  text-align: center;
}

.content blockquote + p {
  text-align: center;
}

.content .byline {
  font-size: 17px;
  color: #999;
  text-align: center;
  padding: 20px 0 40px;
}

.content .aside {
  background-color: #eeeeee;
  padding: 14px;
  font-size: 14px;
  margin: 5px 0 15px 0;
  font-family: Helvetica, sans-serif;
  line-height: 1.6em;
}

.content .listing {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.content .listing ul {
  margin: 0;
  padding: 0;
}

.content .listing li {
  font-size: 13px;
  list-style: none;
  padding: 100px 30px;
  margin: 0;
  color: #777777;
  text-align: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 1s;
}

.content .listing li:hover {
  background: url(http://www.ntmy.fr/wp-content/themes/ntmy2014/css/../images/bg_square.png) 0 -41px #333 !important;
}

.content .listing li:hover a {
  color: #fff !important;
}

.content .listing li:first-child {
  background: #ddd;
}

.content .listing li:first-child a {
  color: #fff;
}

.content .listing li:nth-child(2) {
  background: #fafafa;
}

.content .listing li:nth-child(2) a {
  color: #333;
}

.content .listing li:nth-child(3) {
  background: #333;
}

.content .listing li:nth-child(3) a {
  color: #fafafa;
}

.content .listing li:nth-child(4) {
  background: #fafafa;
}

.content .listing li:nth-child(4) a {
  color: #333;
}

.content .listing li:nth-child(5) {
  background: #ddd;
}

.content .listing li:nth-child(5) a {
  color: #fff;
}

.content .listing li span {
  display: block;
  font-size: 15px;
}

.content .listing li a {
  display: block;
  font-size: 60px;
  line-height: normal;
}

.content .listing a {
  text-decoration: none;
}

.content .meta {
  margin: 30px 0;
  padding: 10px 0;
  font-family: Helvetica, sans-serif;
}

.content .meta p {
  line-height: 1.4;
  font-size: 14px;
  margin-top: 0px;
}

.content .meta img {
  position: relative;
  float: left;
  margin-top: 0px;
  margin-right: 10px;
  margin-left: -60px;
  border-radius: 4px;
}

.content .meta .copy {
  padding-left: 60px;
}

.content .meta iframe {
  padding-left: 5px;
}

.content .talk-design .color div {
  float: left;
  margin-right: 10px;
  padding: 5px 15px;
  border: 1px solid #000;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}

.content .talk-design .color .white {
  color: #fff;
}


/* Photo post layout */

.content.photo .inner-left {
  width: 90%;
  max-width: 1000px;

}

.content.photo .inner-center {
  padding-top: 20px;
}

.photo-listing {
  margin: 0;
  padding: 0;
}

.photo-listing li {
  list-style: none;
  display: inline-block;
  width: 32%;
  margin-right: 2%;
  overflow: hidden;
  position: relative;
}

.photo-listing li .date-hover {
  background: rgb(79, 119, 89);
  color: #fff;
  width: 69px;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  top: -44px;
  text-align: center;
  -webkit-transition: all .3s;
  transition: all .3s;
  font-style: normal;
}

.photo-listing li:hover .date-hover {
  top: 0;
}

.photo-listing li a {
  position: absolute;
  top: 0;
  bottom: 5px;
  left: 0;
  right: 0;
  background: rgba(0,0,0,.7);
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.photo-listing li:hover a {
  opacity: 1;
}

.photo-listing li span {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 20px;
  right: 20px;
  max-width: 300px;
  margin: -32px auto 0;
  text-align: center;
  font-size: 25px;
}

.photo-listing li span:before {
  content: "";
  background: #fff;
  width: 60%;
  height: 1px;
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -30%;
}

.photo-listing li em {
  color: #fff;
  max-width: 300px;
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-style: normal;
}

.photo-listing li img {
  width: 100%;
  background: #333;
}

.content.photo .inner-center {
  max-width: 100%;
}

.photo-listing li:nth-child(3n) {
  margin-right: 0;
}

.more-projects {
  padding-top: 50px;
}

.prev-proj,
.next-proj {
  width: 50%;
  text-align: center;
  font-size: 21px;
  background: #fafafa;
  padding: 30px;
}

.prev-proj span,
.next-proj span {
    display: block;
    padding-top: 5px;
    font-size: 15px;
    color: #999;
  }

.prev-proj a,
.next-proj a {
  display: block;
  padding: 5px 30px;
  text-decoration: none;
  color: #474747;
  float: left;
}

.next-proj a {
  float: right;
}

#triangle-left {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 15px solid red;
  border-bottom: 30px solid transparent;
  position: relative;
  display: inline-block;
  float: left;
}

#triangle-left:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 15px solid #fafafa;
  border-bottom: 30px solid transparent;
  left: 1px;
  top: -30px;
  position: absolute;
}

#triangle-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 15px solid red;
  border-bottom: 30px solid transparent;
  position: relative;
  display: inline-block;
  float: right;
}

#triangle-right:before {
  content: "";
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-left: 15px solid #fafafa;
  border-bottom: 30px solid transparent;
  right: 1px;
  top: -30px;
  position: absolute;
}

.prev-proj p,
.next-proj p {
  width: 100px;
  height: 100px;
  margin-top: -27px;
  border-radius: 100px;
}

.prev-proj {
  float: left;
}

.next-proj {
  float: right;
}

blockquote.style2 {
  
}
