@charset "UTF-8";

html {
  height: 100%;
}

body {
  height: 100%;
  font-family:  "segoe ui light","Source Sans Pro", "Palatino Linotype", "Book Antiqua", Palatino, serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: 'segoe ui light';
  src: url('../fonts/segoeuil.eot');
  src: url('../fonts/segoeuil.eot?#iefix') format('embedded-opentype'),
       url('../fonts/segoeuil.woff2') format('woff2'),
       url('../fonts/segoeuil.woff') format('woff'),
       url('../fonts/segoeuil.ttf')  format('truetype'),
       url('../fonts/segoeuil.svg#segoeuil') format('svg');
}

*, *:after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  color: #333;
}

h1 a,
h2 a,
h3 a,
h4 a {
  color: #333;
}

.cf:before,
.cf:after { content: ""; display: table; }
.cf:after { clear: both; }


/* Custom Scrollbar */

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    border-radius: 0;
    background: #eee;
}

::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: #ddd;
}


/* -----------------------------------------------------------------------

SIDEBAR SECTION

----------------------------------------------------------------------- */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100%;
  background: white;
  text-align: center;
  /*-webkit-animation: sidebar 2s;*/
}

.sidebar .name {
  margin: 20px 0;
  display: block;
}

.sidebar .name span {
  font-size: 0;
  color: transparent;
  margin: 0 auto 10px;
  display: block;
  width: 80px;
  height: 80px;
  background-image: url("../images/site_logo.svg");
  background-size: 80px 80px;
}

.sidebar .name small,
.sidebar .name em {
  display: block;
  font-style: normal;
  color: #999;
  font-size: 15px;
  position: relative;
}

.sidebar .name em:after {
  content: "";
  height: 1px;
  width: 20%;
  position: absolute;
  left: 50px;
  top: 10px;
  background: #999;
}

.sidebar .name em:before {
  content: "";
  height: 1px;
  width: 20%;
  position: absolute;
  right: 50px;
  top: 10px;
  background: #999;
}

.sidebar .meta {
  position: absolute;
  bottom: 20px;
  padding: 0;
  left: 50%;
  margin-left: -80px;
  max-width: 160px;
}

.sidebar .meta li {
  list-style: none;
  display: inline-block;
}

.sidebar .meta a {
  color: black;
  border: 1px solid #d4d4d4;
  width: 50px;
  height: 50px;
  display: inline-block;
  position: relative;
}

.sidebar .meta a:hover {
  border-color: #999;
}

.sidebar .meta i {
  position: absolute;
  top: 17px;
  left: 17px;
}

.sidebar .menu {
  margin: 40px 0 30px;
  padding: 0;
}

.sidebar .menu li {
  list-style: none;
  margin: 10px 0;
}

.sidebar .menu a {
  color: black;
  font-size: 17px;
  position: relative;
  display: block;
  padding: 2px 0 5px;
}

.sidebar .menu a:after {
  margin-left: 10px;
  content: '|';
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  -o-transform: translateX(-20px);
  -ms-transform: translateX(-20px);
  transform: translateX(-20px);
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform .3s, opacity .2s;
  -moz-transition: -moz-transform .3s, opacity .2s;
  -o-transition: -moz-transform .3s, opacity .2s;
  -ms-transition: -moz-transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s;
}

.sidebar .menu a:before {
  margin-right: 10px;
  content: '|';
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  -o-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform .3s, opacity .2s;
  -moz-transition: -moz-transform .3s, opacity .2s;
  -o-transition: -moz-transform .3s, opacity .2s;
  -ms-transition: -moz-transform .3s, opacity .2s;
  transition: transform .3s, opacity .2s;
}

.sidebar .menu a:hover:before,
.sidebar .menu a.active:before {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.sidebar .menu a:hover:after,
.sidebar .menu a.active:after {
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

.sidebar .menu a:hover {
  color: #31472D;
}

.sidebar .menu .active a {
  color: #31472D;
}

.menu-icon {
  display: none;
}
.menu-icon-bg {
  display: none;
}

/* -----------------------------------------------------------------------

LAYOUT STYLES

----------------------------------------------------------------------- */

.content {
  margin-left: 230px;
  position: relative;
  height: 100%;
}

.content h1 {
  font-size: 36px;
  margin: 18px 0 5px;
  text-align: center;
}

.content h2 {
  font-size: 30px;
  margin-bottom: 15px;
}

.content h3 {
  color: #777;
  font-size: 25px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.content .inner-center {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.photography .inner-center,
.about .inner-center {
  max-width: 750px;
}

.photo .inner-center > h1,
.about .inner-center > h1,
.photography .inner-center > h1,
.posts .inner-center > h1 {
  font-size: 90px;
  color: #333;
  position: relative;
  margin: 0 auto;
  max-width: 400px;
  border-bottom: 1px solid #d4d4d4;
}

.posts .inner-center > h1 {
  font-size: 70px;
}

.posts .inner-center .inner-heading,
.about .inner-center .inner-heading,
.photography .inner-center .inner-heading {
  max-width: 100%;
}

.content p code {
  font-size: 14px;
  padding: 4px 4px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 2px;
}

.content .inner-center p {
  margin: 10px 0;
}

.content .inner-center p img {
  width: 100%;
  padding: 7px 5px;
}

.content hr {
  border: 0;
  height: 6px;
  background-image: url("/images/hr.png");
  background-repeat: repeat-x;
  margin: 2em 3em;
}

.btn {
  color: #000;
  font-size: 14px;
  padding: 8px 18px 8px 18px;
  border: solid #ccc 1px;
  text-decoration: none;
}

.btn:hover {
  color: #31472D;
}

/* -----------------------------------------------------------------------

SECTION ABOUT

----------------------------------------------------------------------- */

.about .main-text a {
  font-weight: bold;
  color: #474747;
}

.about .inner-center {
  padding: 50px;
  background: white;
  max-width: 700px;
  text-align: center;
  font-size: 17px;
  line-height: 1.6;
}

.about .inner-center i:before {
  font-size: 80px;
}

.about .inner-center span {
  display: block;
  font-size: 17px;
}

.about-img {
  margin-top: 50px;
  text-align: center;
  -webkit-filter: grayscale(70%);
}

.about .main-text {
  font-size: 16px;
  -webkit-animation: main-title 1.5s;
  -moz-animation: main-title 1.5s;
  -o-animation: main-title 1.5s;
  -ms-animation: main-title 1.5s;
  animation: main-title 1.5s;
  text-align: left;
}

.about-img img {
  width: 200px;
  height: auto;
}

.about .main-text ul {
  padding: 0;
  margin: 40px 0;
  text-align: center;
}

.about .main-text ul li {
  list-style: none;
  display: inline-block;
  width: 31%;
  margin: 4px;
}

.socials li:first-child > a:hover {
  color: #000;
}

.socials li:nth-child(2) > a:hover {
  color: #0084b4;
}

.socials li:last-child > a:hover {
  color: #0063DC;
}

.about .main-text ul li img {
  width: 100%;
}

.about small {
  font-size: 15px;
  color: #707070;

}


/* -----------------------------------------------------------------------

SECTION POSTS

----------------------------------------------------------------------- */
.center_align {
    display: block;
    text-align: center;
    font-size: 15px;
    margin: 3px 8px 30px 0;
    color: #707070;
}

.posts .inner-center {
  max-width: 800px;
  padding-top: 30px;
  font-size: 20px;
  text-align: left;
}

.posts .inner-center .image-caption {
  text-align: center;
  font-size: 70%;
  margin: 10px 0 20px;
}

.posts img {
  margin: 0 0 -5px;
}

.posts blockquote,
.posts blockquote + p {
  text-align: left;
}

.posts .byline,
.photography .byline {
  font-size: 17px;
  color: #999;
  text-align: center;
  padding: 20px 0 20px;
}

.post-avatar {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 auto 10px;
}

.post-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.posts .listing li a {
  font-size: 17px;
}

.posts .listing {
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.content .listing ul {
  margin: 0;
  padding: 0;
}

.content .listing li {
  font-size: 13px;
  list-style: none;
  padding: 80px 30px;
  margin: 0;
  color: #777777;
  text-align: center;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -o-transition: all .2s;
  -ms-transition: all .2s;
  transition: all .2s;
}

.content .listing li:nth-child(even) {
  background: #ddd;
}

.content .listing li:nth-child(even) a {
  color: #fff;
}

.content .listing li:nth-child(odd) {
  background: #fafafa;
}

.content .listing li:nth-child(odd) a {
  color: #333;
}

.content .listing li:hover {
  background: #474747;
  color: #999;
}

.content .listing li:hover a {
  color: white;
}

.content .listing li:hover span {
  color: #999;
}

.content .listing li span {
  display: block;
  font-size: 15px;
}

.content .listing li a {
  display: block;
  font-size: 60px;
  line-height: normal;
  margin-bottom: 10px;
}

.pagination-buttons {
  text-align: center;
  padding: 20px 0 80px;
  position: relative;
}

.pagination-buttons .btn {
  border: 1px solid #d4d4d4;
  display: inline-block;
}

/* -----------------------------------------------------------------------

SECTION PHOTOGRAPHY

----------------------------------------------------------------------- */

.photography .inner-center ul {
  margin: 50px 0 0;
  padding: 0;
}

.photography .inner-center ul li {
  list-style: none;
}

.photography .inner-center ul li img {
  width: 100%;
}

.photo .inner-center {
  padding-top: 20px;
}

.photo-listing {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.photo-listing li {
  list-style: none;
  display: inline-block;
  width: 32.6%;
  margin-right: 1%;
  margin-bottom: 1%;
  overflow: hidden;
  position: relative;
}

.photo-listing li a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.photo-listing li a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  transition: opacity .5s ease-in-out;
  -webkit-transition: opacity .5s;
  -moz-transition: opacity .5s;
  -o-transition: opacity .5s;
  -ms-transition: opacity .5s;
  transition: opacity .5s;
}

.photo-listing li:hover a:before {
  opacity: .7;
}

.photo-listing li span {
  position: absolute;
  color: white;
  top: 50%;
  left: 20px;
  right: 20px;
  max-width: 300px;
  margin: -55px auto 0;
  text-align: center;
  font-size: 25px;
}

.photo-listing li span:before {
  content: "";
  background: rgba(255, 255, 255, .4);
  width: 0;
  height: 1px;
  position: absolute;
  top: 34px;
  left: 50%;
  margin-left: -30%;
  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -ms-transition: width 1s;
  transition: width 1s;
}

.photo-listing li:hover a span:before {
  width: 60%;
}

.photo-listing li em,
.photo-listing li i {
  opacity: 0;
  transition: opacity .3s ease-in-out;
  color: white;
  max-width: 300px;
  display: block;
  padding-top: 20px;
  margin: 0 auto;
  text-align: center;
  font-size: 16px;
  font-style: normal;
}

.photo-listing li:hover em,
.photo-listing li:hover i {
  opacity: 1;
}

.photo-listing li img {
  width: 100%;
  background: #333;
}

.content.photo .inner-center {
  max-width: 1500px;
}

.photo-listing li:nth-child(3n) {
  margin-right: 0;
}

.intro-text small {
  font-size: 16px;
}

.photography li {
  margin-bottom: 32px;
}

/* Phototography project pagination */

.more-projects {
  text-align: center;
  padding: 20px 0 80px;
  position: relative;
}

.more-projects:after {
  content: '';
  background: rgb(212, 212, 212);
  height: 1px;
  width: 500px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -250px;
}

.more-projects:before {
  content: '';
  background: rgb(212, 212, 212);
  height: 1px;
  width: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -250px;
}

.more-projects .next-proj a {
  font-size: 50px;
  color: #474747;
  margin-bottom: 20px;
}

.more-projects .next-proj a i {
  color: #999;
  display: block;
  font-size: 20px;
  font-style: normal;
}

.more-projects .next-proj a span {
  font-size: 20px;
  color: #999;
  display: block;
  position: relative;
  padding-top: 30px;
}

.more-projects .next-proj a span:before {
  content: '';
  background: #d4d4d4;
  height: 1px;
  width: 70px;
  position: absolute;
  top: 0px;
  margin-top: 17px;
  left: 50%;
  transform: translateX(-50%);
}

blockquote {
  color: #a5a4a4;
  font-style: italic;
  text-align: center;
  margin-bottom: 30px;
}

.photography .inner-center ul {
  font-size: 0;
  margin: 0;
}

.social-buttons {
  text-align: center;
  padding: 20px 0 80px;
  position: relative;
}

.photography .social-buttons ul,
.posts .social-buttons ul {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 15px;
}

.social-buttons p {
  margin: 0;
  padding: 0;
  font-size: 15px;
}

.social-buttons .btn {
  border: 1px solid #d4d4d4;
  display: inline-block;
}

.social-buttons .btn:hover {
  border: 1px solid #999;
}

.social-buttons ul li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.social-buttons .share p {
  text-align: center;
  font-size: 20px;
  color: #999;
  margin-bottom: 20px;
}

.project-icons li {
  font-size: 15px;
  display: inline-block;
  padding: 0 15px;
  border-right: 1px solid #999;
}

.project-icons li:last-child {
  border-right: 0;
}

.photo-listing li .stack-icon {
  width: 15px;
  height: 20px;
  border: 1px solid #999;
  margin: 20px auto;
  position: relative;
  display: block;
}

.photo-listing li .stack-icon:before {
  content: '';
  width: 15px;
  height: 20px;
  position: absolute;
  right: 2px;
  border: 1px solid #999;
  top: 2px;
}

.photo-listing li .stack-icon:after {
  content: '';
  width: 15px;
  height: 20px;
    border: 1px solid #999;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* Tablet viewport from 640px to 960px */

@media screen and (max-width: 960px) {

  .sidebar {
    width: 300px;
    left: -230px;
    -webkit-transition: left .5s;
    z-index: 2;
  }

  .sidebar.toggle {
    left: 0;
    box-shadow: 1px 1px 15px rgba(80, 79, 79, 0.12);
  }

  .sidebar .name em:before {
    right: 75px;
  }

  .sidebar .name em:after {
    left: 75px;
  }

  .content {
    margin-left: 50px;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
  }

  .menu-icon i {
    width: 100%;
    height: 3px;
    background: #999;
    display: block;
    box-shadow: none;
    -webkit-transition: box-shadow .3s linear;
    -o-transition: box-shadow .3s linear;
    -ms-transition: box-shadow .3s linear;
    transition: box-shadow .3s linear;
    position: absolute;
  }

  .menu-icon i:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #999;
    margin-top: 7px;
    -webkit-transition: box-shadow .3s linear .15s;
    -moz-transition: box-shadow .3s linear .15s;
    -o-transition: box-shadow .3s linear .15s;
    -ms-transition: box-shadow .3s linear .15s;
    transition: box-shadow .3s linear .15s;
  }

  .menu-icon i:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #999;
    margin-top: 14px;
    -webkit-transition: box-shadow .3s linear .3s;
    -moz-transition: box-shadow .3s linear .3s;
    -o-transition: box-shadow .3s linear .3s;
    -ms-transition: box-shadow .3s linear .3s;
    transition: box-shadow .3s linear .3s;
  }

  .menu-icon:hover i,
  .menu-icon:hover i:before,
  .menu-icon:hover i:after {
    box-shadow: inset 30px 0px 0px #52744B;
  }

  .menu-icon.active i:before {
    opacity: 0;
  }

  .menu-icon.active i {
    top: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: -webkit-transform .5s linear;
    -moz-transition: transform .1s linear;
    -o-transition: transform .1s linear;
    -ms-transition: transform .1s linear;
    transition: transform .1s linear;
  }

  .menu-icon.active i:after {
    top: -14px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transition: -webkit-transform .5s linear;
    -moz-transition: transform 1s linear;
    -o-transition: transform .1s linear;
    -ms-transition: transform .1s linear;
    transition: transform .1s linear;
  }

  .photo-listing li:nth-child(3n) {
    margin-right: 2%;
  }

  .photo-listing li:nth-child(2n) {
    margin-right: 0;
  }

  .photo-listing li {
    width: 49%;
    margin-right: 2%;
    margin-bottom: 2%;
  }

  .photo-listing li a {
    opacity: 1;
    background: none;
  }

  .photo-listing li a span {
    padding: 23px 0 23px 23px;
    background: rgba(0, 0, 0, .7);
    bottom: 0;
    top: auto;
    left: 0;
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    text-align: left;
  }

  .photo-listing li a span:before,
  .photo-listing li a span em {
    display: none;
  }

  .photo-listing li .stack-icon {
    float: right;
    margin: auto 20px;
    display: inline-block;
  }

  .photo .inner-center > h1,
  .posts .inner-center > h1,
  .about .inner-center > h1,
  .photography .inner-center > h1 {
    font-size: 70px;
  }
}


/* Mobile viewport bellow 640px */

@media screen and (max-width: 640px) {

  .photo-listing li {
    width: 100%;
    margin-right: 0;
    float: none;
    margin-bottom: 2%;
  }

  .photo .inner-center > h1,
  .posts .inner-center > h1,
  .about .inner-center > h1,
  .photography .inner-center > h1 {
    font-size: 40px;
  }

  .about .inner-center {
    padding: 20px;
  }

  .about .inner-center span {
    padding-bottom: 10px;
  }

  .about .main-text ul li {
    width: 17%;
  }

  .about .inner-center i:before {
    font-size: 50px;
  }

  .about-img {
    margin-top: 10px;
  }

  .photography .inner-center ul {
    margin: 20px 0 0;
  }

  .content .inner-center {
    padding: 18px;
  }

  .content .listing li {
    padding: 30px 10px;
  }

  .content {
    margin-left: 0;
    margin-top: 55px;
  }

  .content .listing li a {
    font-size: 35px;
  }

  .posts .inner-center {
    font-size: 16px;
  }

  .posts .inner-center ul {
    padding-left: 20px !important;
  }

  .content .inner-center p img {
    padding: 7px 0;
  }

  .content .inner-center {
    margin-top: 45px !important;
  }

  .sidebar {
    background: rgba(255, 255, 255, 0);
  }

  .sidebar .name,
  .sidebar .meta,
  .sidebar .menu {
    display: none;
  }

  .sidebar.toggle {
    background: rgba(255, 255, 255, 1);
  }

  .sidebar.toggle .name,
  .sidebar.toggle .meta,
  .sidebar.toggle .menu {
    display: block;
  }

  .menu-icon-bg {
    background: white;
    height: 55px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: block;
    z-index: 1;
    text-align: right;
    padding-right: 15px;
    padding-top: 10px;
    font-size: 26px;
    letter-spacing: 5px;
    box-shadow: 1px 1px 15px rgba(80, 79, 79, 0.12);
  }

  .sidebar.toggle + .menu-icon-bg {
    opacity: 0;
  }

  .more-projects {
    padding-bottom: 60px;
  }

  .more-projects:after {
    width: 200px;
    margin-left: -100px;
    bottom: 37px;
  }

  .more-projects:before {
    width: 200px;
    margin-left: -100px;
    top: 5px;
  }

  .more-projects .next-proj a {
    font-size: 40px;
    margin-top: 0;
  }
}
