/* line 1, ../sass/lightbox.scss */
body:after {
  content: url(../ images/close.png) url(../ images/loading.gif) url(../ images/prev.png) url(../ images/next.png);
  display: none;
}

/* line 6, ../sass/lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: .92;
  display: none;
}

/* line 17, ../sass/lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}
/* line 26, ../sass/lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
}
/* line 31, ../sass/lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 36, ../sass/lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  box-shadow: 1px 1px 10px #474747;
}
/* line 45, ../sass/lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 52, ../sass/lightbox.scss */
.lb-container {
  padding: 4px;
}
/* line 55, ../sass/lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 60, ../sass/lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 70, ../sass/lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../ images/loading.gif) no-repeat;
}

/* line 78, ../sass/lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}
/* line 86, ../sass/lightbox.scss */
.lb-nav a {
  outline: none;
}

/* line 91, ../sass/lightbox.scss */
.lb-prev, .lb-next {
  width: 49%;
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 98, ../sass/lightbox.scss */
.lb-prev {
  left: 0;
  float: left;
}
/* line 102, ../sass/lightbox.scss */
.lb-prev:hover {
  background: url(../ images/prev.png) left 48% no-repeat;
}

/* line 107, ../sass/lightbox.scss */
.lb-next {
  right: 0;
  float: right;
}
/* line 111, ../sass/lightbox.scss */
.lb-next:hover {
  background: url(../ images/next.png) right 48% no-repeat;
}

/* line 116, ../sass/lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
}
/* line 122, ../sass/lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 129, ../sass/lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #bbbbbb;
}
/* line 133, ../sass/lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}
/* line 140, ../sass/lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}
/* line 146, ../sass/lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}
/* line 154, ../sass/lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../ images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 165, ../sass/lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
