{% if page.path == "projects" %}
  {% assign base_url = "/projects/" %}
  {% assign back_url = "/" %}
  {% assign back_label = "back to projects" %}
  {% assign next_label = "next project" %}
{% else %}
  {% assign base_url = "/photo_essays/" %}
  {% assign back_url = "/photo_essays/" %}
  {% assign back_label = "back to photo essays" %}
  {% assign next_label = "next photo essay" %}
{% endif %}

<div class="more-projects">
  <div class="next-proj">
    {% if page.next_project_path != "" and page.next_project_path %}
      {% if page.next_project_path == "snapshots" %}
        <span class="next-proj-wip" title="Work in progress">
          <i>{{ next_label }}</i>
          {{ page.next_project }}
          <small class="wip-label">work in progress</small>
        </span>
      {% else %}
        <a href="{{ base_url }}{{ page.next_project_path }}/">
          <i>{{ next_label }}</i>
          {{ page.next_project }}
        </a>
      {% endif %}
    {% endif %}
    <a href="{{ back_url }}">
      <span>{{ back_label }}</span>
    </a>
  </div>
</div>
