  <div class="social-buttons">
    {% if page.path == "photo_essays" %}
      <p class="share">Share this photo essay in:</p>
    {% else %}
      <p class="share">Share this post in:</p>
    {% endif %}
    <ul>
      <li>
        <a class="btn" href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url | remove:'index.html' }}&via={{ site.twitter }}&related=@{{ site.twitter }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a>
      </li>
      <li>
        <a class="btn" href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url | remove:'index.html' }}" rel="nofollow" target="_blank" title="Share on Facebook">Facebook</a>
      </li>
      <li>
        <a class="btn" href="https://plus.google.com/share?url={{ site.url }}{{ page.url | remove:'index.html' }}" rel="nofollow" target="_blank" title="Share on Google+">Google+</a>
      </li>
    </ul>
  </div>
