<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta name="google-site-verification" content="ZeiyLEq0pBT9mOrskrWweTuwTZ9ti2HJoPOOe1SVyok" />
  {% include google_analytics.html %}
  {% if site.google_plus %}
    <link rel="author" href="{{ site.google_plus }}?rel=author" />
  {% endif %}
  <meta charset="utf-8">
  <title>
    {% if page.title %}
      {{ page.title }} &ndash;
    {% endif %}
    {{ site.name }}
  </title>

  <meta name="author" content="{{ site.name }}" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  <link rel="stylesheet" href="/css/fontawesome.min.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css" />

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>

  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/lightbox-2.6.min.js"></script>
  <link href="/css/lightbox.css" rel="stylesheet" />

  <script>
    $(document).ready(function(){
     $('.menu-icon').on('click', function() {
      $(this).toggleClass('active');
     });

     $('.menu-icon').on('click', function() {
      $('.sidebar').toggleClass('toggle');
     });
    });
  </script>

</head>

<body>
  <a href="{{ site.google_plus }}" rel="publisher"></a>
  <section class="sidebar">

    <a href="/" class="name">
      <span>RPK</span>
      <small>Ruby Developer</small>
      <em>&amp;</em>
      <small>Photography Enthusiast</small>
    </a>

    <ul class="menu">
      {% assign url = page.url | remove:'index.html' %}
      {% for link in site.navigation %}
        {% assign active = nil %}
        {% if url == link.url or page.path == link.text %}
          {% assign active = 'class="active"' %}
        {% endif %}
          <li><a {{ active }} href="{{ link.url }}">{{ link.text }}</a>{{ indicator }}</li>
      {% endfor %}
    </ul>

    <section class="meta">
      <a href="https://github.com/{{ site.github }}" target="_blank">
        <i class="icon icon-github"></i>
      </a>
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <i class="icon icon-twitter"></i>
      </a>
      <a href="http://www.flickr.com/photos/{{ site.flickr }}" target="_blank">
        <i class="icon icon-flickr"></i>
      </a>
    </section>

    <div class="menu-icon">
      <i></i>
    </div>

  </section>
  <a href="/" class="name">
    <div class="menu-icon-bg">RPK</div>
  </a>

  {{ content }}

</body>

</html>
