---
layout: layout
comments: true
---

<section class="content">
  <h1>
    <a href="{{ page.baseurl }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <!-- TODO: bio here -->
  <section class="meta">
    <h3>Discussion, links, and tweets</h3>
    <section class="copy">
      <a href="https://twitter.com/{{ site.twitter }}" target="_blank">
        <img src="{{ site.gravatar_url }}?s=142" height="50" width="50" />
      </a>

      <p>
        I'm a developer at <a href="http://www.skroutz.gr/" target="_blank"> Skroutz</a>. <a href="https://twitter.com/{{ site.twitter }}" target="_blank">Follow me on Twitter</a>;
        If you like new technologies, programming and photography you are going to enjoy my tweets.
      </p>

      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="{{ site.twitter }}">Tweet</a>
      <a href="http://twitter.com/{{ site.twitter }}" class="twitter-follow-button" data-show-count="false">Follow @{{ site.twitter }}</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </section>
  </section>

  <!-- DISQUS -->
  <section class="meta">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
          var disqus_shortname = 'rpk';

          /* * * DON'T EDIT BELOW THIS LINE * * */
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </section>
</section>
