---
layout: layout
---

<article class="content posts">
  <div class="inner-center">
    <h1 class="page-title">{{ page.title }}</h1>

    <section class="byline">
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %e, %Y" }}</time>
      {%- if page.tags.size > 0 %}
      <span class="byline-tags">
        {%- for tag in page.tags %}
        <a class="tag-badge" href="/posts/?tag={{ tag | slugify }}">{{ tag }}</a>
        {%- endfor %}
      </span>
      {%- endif %}
    </section>

    {{ content }}

    {% include share_links.html %}
  </div>
</article>
